BeautifulSoup==3.2.1
Django==1.6.1
Markdown==2.3.1
South==0.8.4
Werkzeug==0.9.4
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.17
celery==3.1.11
dj-database-url==0.3.0
dj-static==0.0.5
--allow-unverified django-admin-tools
django-admin-tools==0.5.1
django-crispy-forms==1.4.0
django-debug-toolbar==1.0.1
django-extensions==1.3.2
django-filter==0.5.4
django-haystack==2.1.0
django-picklefield==0.3.1
django-selectable==0.8.0
django-toolbelt==0.0.1
django-tracking2==0.1.9
djangorestframework==2.3.10
gunicorn==18.0
ipython==1.1.0
jsonfield==0.9.20
kombu==3.0.16
mailsnake==1.6.2
psycopg2==2.5.3
pyelasticsearch==0.6.1
pystache==0.5.4
python-memcached==1.53
pytz==2014.3
redis==2.9.1
requests==2.2.0
simplejson==3.3.2
six==1.5.2
sqlparse==0.1.10
static==1.0.2
uWSGI==2.0
wsgiref==0.1.2
