{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Donde Estas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--link rel="stylesheet/less" href="{% static 'bootstrap/less/bootstrap.less' %}" type="text/css" /-->
  <!--link rel="stylesheet/less" href="{% static 'bootstrap/less/responsive.less" type="text/css' %}" /-->
  <!--script src="{% static 'bootstrap/js/less-1.3.3.min.js' %} "></script-->
  <!--append ‘#!watch’ to the browser URL, then refresh the page. -->
  
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/css/style.css' %}" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="{% static 'bootstrap/js/html5shiv.js' %}"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'bootstrap/img/apple-touch-icon-144-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'bootstrap/img/apple-touch-icon-114-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'bootstrap/img/apple-touch-icon-72-precomposed.png'%}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'bootstrap/img/apple-touch-icon-57-precomposed.png' %}">
  <link rel="shortcut icon" href="{% static 'bootstrap/img/favicon.png' %}">
  
  <script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/scripts.js' %}"></script>
  <link rel="stylesheet" href=" {% static 'jvectormap/jquery-jvectormap-1.2.2.css' %}" type="text/css" media="screen"/>
  <script src=" {% static 'jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
  <script src=" {% static 'jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
  <script src=" {% static 'jvectormap/svg.min.js' %}"></script>
  <script src=" {% static 'jvectormap/svg.path.js' %}"></script>


    <script type="text/javascript" charset="utf-8">
var markerArray = [
  {name:'Houston', latLng:[29.761993,-95.369568]},
  {name:'New York', latLng:[40.710833,-74.002533]},
  {name:'Kansas City', latLng:[39.115145,-94.633484]}
];
    
$(function(){
  var map = $('#maps').vectorMap({
    map: 'world_mill_en',
    zoomMin: 1,
    zoomMax: 15,
    markers: markerArray
  });
    
  var map = $('#maps').vectorMap('get', 'mapObject');
  var draw = SVG('svgMapOverlay').size(660, 400);
  //console.log(draw);
  var coords1 = map.latLngToPoint(markerArray[0].latLng[0],markerArray[0].latLng[1]);
  var coords2 = map.latLngToPoint(markerArray[1].latLng[0],markerArray[1].latLng[1]);
  console.log(draw.path().attr({ fill: 'none',stroke: '#c00', 'stroke-width': 2 }).M(coords1.x, coords1.y));

  draw.path().attr({ fill: 'none',stroke: '#c00', 'stroke-width': 2 }).M(coords1.x, coords1.y).L(coords2.x, coords2.y);


//let's do another!
  var coords1 = map.latLngToPoint(markerArray[1].latLng[0],markerArray[1].latLng[1]);
  var coords2 = map.latLngToPoint(markerArray[2].latLng[0],markerArray[2].latLng[1]);
    draw
        .path()
        .attr({ fill: 'none',stroke: '#c00', 'stroke-width': 2 })
        .M(coords1.x, coords1.y)
        .L(coords2.x, coords2.y);

}); // end Jquery call    </script>
</head>

<body >
<div class="container" id="container">
  <div class="row clearfix"  id="display_map_info">
    <div class="col-md-12 column" id="main_frame">
          <div id="svgMapOverlay"></div>
          <div id="maps">
          </div>
    </div>
  </div>
</div>
</body>
</html>
