BeautifulSoup==3.2.1
Django==1.6.1
Markdown==2.3.1
South==0.8.4
Werkzeug==0.9.4
argparse==1.2.1
django-admin-tools==0.5.1
django-crispy-forms==1.4.0
django-debug-toolbar==1.0.1
django-extensions==1.3.2
django-haystack==2.1.0
django-picklefield==0.3.1
django-selectable==0.8.0
django-tracking2==0.1.9
djangorestframework==2.3.10
gunicorn==18.0
ipython==1.1.0
jsonfield==0.9.20
pyelasticsearch==0.6.1
requests==2.2.0
simplejson==3.3.2
six==1.5.2
sqlparse==0.1.10
uWSGI==2.0
wsgiref==0.1.2
celery[redis]==3.1.8
mailsnake==1.6.2
python-memcached==1.53
django-filter==0.5.4
